<header>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to  'Instant Alerts', alerts_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
              <ul class="right">
                   <li class="divider"></li>
                   <% if user_signed_in? %>
                   <li>
                    <%= link_to current_user.name, edit_user_registration_path %>
                    </li>
                    <li>
                    <%= link_to 'Log Out' , destroy_user_session_path, method: :delete %>
                    </li>
                    <% else %>
                    <li>
                      <%= link_to 'Sign Up', new_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Sign In", new_user_session_path %>
                    </li>
                    <% end %>
                </ul>


          <!-- Left Nav Section -->




              <ul class="left">
                  <li class="divider"></li>
                  <%if user_signed_in? %>
                    <li>
                      <%= link_to  'Alerts', alerts_path %>
                    </li>
                    <li>
                      <%= link_to  'Events', events_path %>
                    </li>
                  <% end %>
              </ul>
        </section>
</nav>


</header>

<div class="row  ">
  <section class="panel offset-by-one columns large-4 medium-5 small-16 large-centered medium-centered small-centered" style="
    margin-top: 20px;
">
      <div class="center">

          <h2 class="text-center">Crea tu cuenta</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %></div>
            <div class="field">
            <div><%= f.label :location %><br />
            <%= f.select :town_id, options_for_select(Town.all.map {|town| [town.name, town.id]}) %></div>
            </div>
            <div><%= f.label :description %><br />
            <%= f.text_area :description %></div>

            <div><%= f.label :email %><br />
            <%= f.email_field :email%></div>

            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %></div>

            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

            <div><%= f.submit "Sign up", class: 'button' %></div>
          <% end %>

          

      </div>
    </section>
</div>

