<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Date</th>
    <th>Hour</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
 <% if event.user.town==current_user.town %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><cite><%= event.user.name %> - <em><%= time_ago_in_words(event.created_at) %> ago</em></cite></td>
    <td><%= event.location %></td>
    <td><%= event.date %></td>
    <td><%= event.hour %></td>
    <td><%= event.user.name %></td>
    <td><%= link_to 'Show', event %></td>
    <% if current_user == event.user %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
