<h1>Listing alerts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alerts.each do |alert| %>
 <% if alert.user.town==current_user.town %>
 <hr>
  <div class="row">
    <div class="columns large-9 medium-6">
      <blockquote>
        <%= alert.content %>
        <cite><%= alert.user.name %> - <em><%= time_ago_in_words(alert.created_at) %> ago</em></cite>
      </blockquote>
    </div>
  <tr>
    <td><%= alert.content %></td>
    <td><%= alert.user.name %></td>
    <td><%= link_to 'Show', alert %></td>
    <% if current_user == alert.user %>
    <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
    <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Alert', new_alert_path, class: 'button' %>
