<header>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to  'Instant Alerts', alerts_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
              <ul class="right">
                   <li class="divider"></li>
                   <% if user_signed_in? %>
                   <li>
                    <%= link_to current_user.name, edit_user_registration_path %>
                    </li>
                    <li>
                    <%= link_to 'Log Out' , destroy_user_session_path, method: :delete %>
                    </li>
                    <% else %>
                    <li>
                      <%= link_to 'Sign Up', new_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to "Sign In", new_user_session_path %>
                    </li>
                    <% end %>
                </ul>

          <!-- Left Nav Section -->

              <ul class="left">
                  <li class="divider"></li>
                  <%if user_signed_in? %>
                    <li>
                      <%= link_to  'Users', users_path %>
                    </li>
                    <li>
                      <%= link_to  'Alerts', alerts_path %>
                    </li>
                    <li>
                      <%= link_to  'Events', events_path %>
                    </li>
                  <% end %>
              </ul>
        </section>
</nav>


</header>

<div class="row  ">
  <section class="panel offset-by-one columns large-4 medium-5 small-16 large-centered medium-centered small-centered" style="
    margin-top: 20px;
">
      <div class="center">
		<h2 class="text-center"><small>Ingresa ahora!</small></h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div><br />
				<%= f.email_field :email, autofocus: true, placeholder: "Email" %>
			</div>

			<div><br />
				<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="space">
					<%= f.check_box :remember_me %> <%= f.label :remember_me %>
				</div>
			<% end -%>

			<div><%= f.submit "Sign in", class: 'button small radius round' %></div>
		<% end %>

		
      </div>
    </section>
</div>