<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "InstantAlert" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "custom" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>


<body>


  <%= yield %>
  <%= javascript_include_tag "application" %>



  <footer class="row">
    <div class="large-12 columns"><hr>
      <div class="row">

        <div class="large-4 columns">
          <p><img src="http://www.uninorte.edu.co/BottomLinksBar/img/logo.png">.</p>
        </div>

        <div class="large-8 small-12 columns">
          <ul class="inline-list right social">
            <li><a href="http://www.twitter.com" target="_blank" rel="nofollow" class="twitter">Twitter</a></li>
            <li><a href="https://www.facebook.com" target="_blank" rel="nofollow" class="facebook">Faceboo</a></li>
            <li><p style="color: rgb(143, 142, 142);">&copy; 2014 Instantalert, Inc.</p></li>
          </ul>
          
        </div>

      </div>
    </div>
  </footer>

  <!-- End Footer -->

</body>


</html>